body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: hsl(219deg 17% 77%);
    background: hsl(220deg 13% 18%);
}

code {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    padding: 0px 4px 0px;
    color: hsla(209,68%,75%,100%);
}

p>code, li>code, td>code {
    background-color: hsla(212,8%,26%, 100%);;
    outline: 1px solid hsla(222,13%,14%,100%);
    cursor: pointer;
}

h1, h2, h3 ,h4, h5{
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

h2 {
    border-bottom: 8px solid hsl(247,51%,75%);
    padding-bottom: 0.5em;
    font-size: 1.75em;
}

h3 {
    border-bottom: 1px solid hsla(286, 59%, 66%, 100%);
    margin-top: 2em;
    font-size: 1.5em;
}

h4 {
    border-bottom: 1px solid hsla(286, 59%, 66%, 100%);
    margin-top: 2em;
    font-size: 1.5em;
    color: hsl(286deg 60% 67%);
}

h5 {
    border-bottom: 1px solid hsla(286, 59%, 66%, 100%);
    margin-top: 2em;
    font-size: 1.5em;
    font-size: 1em;
}

h2 code, h3 code, h4 code, h5 code {
    font-family: inherit !important;
    font-size: inherit !important;
}

td code {
    font-weight: bold;
}

a:link, a:hover, a:visited {
                     text-decoration: none;
                     color: hsla(204,83%,62%, 100%);
                 }

a:link {
    background: #ff8;
}

a:visited {
    color: #4EAEEF;
    background: #ffc;
}

a:link:hover,
a:visited:hover {
    background: #ff0;
}

a[href^="http"] {
    color: hsla(204,83%,62%, 100%);
    background-color: hsla(204,83%,62%, 0.075);
}

a[href^="http"]:visited {
    color: hsla(204,83%,62%, 100%);
    background-color: hsla(204,83%,62%, 0.075);
}

a[href^="http"]:link:hover,
a[href^="http"]:visited:hover {
    color: hsla(204,83%,77%, 100%);
    background-color: hsla(204,83%,62%, 0.075);
}

a[href^="http"]:after {
    /* content: "\21B3"; */
    /* background-color: hsla(204,83%,62%, 0.075); */
    /* padding-left: 0.2em; */
}

#meta {
    margin-top: 2em;
}
.figure-number::after{
    content: ' ▲ '
}
.table-number::after{
    content: ' ▲'
}
#table-of-contents a:link,
#table-of-contents a:visited {
    /* background: transparent; */
    display: block;
}


#table-of-contents a:hover {
    color: hsl(286deg 60% 67%);
    background: transparent;
}

#table-of-contents {
    line-height: 1.2;
}
#table-of-contents h2 {
    border-bottom: 0;
}

#table-of-contents ul {
    list-style: none;
    padding-left:0;
    font-weight: normal;
}

#table-of-contents div>ul>li {
    margin-top: 5px;
    font-weight: bold;
}
#table-of-contents a:hover{
    background-color: hsl(220,13%,18%,100%);
    color: hsla(286, 59%, 66%, 100%);
}

#table-of-contents a.active{
    background-color: hsl(220,13%,18%,100%);
    color: hsla(286, 59%, 66%, 100%);
}

#table-of-contents>div>ul>li>a {
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: hsla(220, 13%, 18%, 100%); */
    border-left: 4px solid hsla(204, 83%, 62%, 100%);
    background: transparent;
    padding-left: 2em;
}

#table-of-contents>div>ul>li>ul>li>a {
    /* padding: 2px; */
    color: hsl(219deg 17% 77%);
    padding-left: 3em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 4px solid hsla(35, 74%, 70%, 100%);
    background: transparent;
}

#table-of-contents .tag {
    display: none;
}

#table-of-contents .todo,
#table-of-contents .done {
    font-size: 80%;
}

#table-of-contents ol>li {
    margin-top: 1em;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #666;
}

th, td {
    padding: 0.5em;
    text-align: left;
}


tbody {
    margin-bottom: 2em;
}
tbody tr:nth-child(odd) {
    background-color: hsl(219deg 17% 27%);
}

img {
    max-width: 90%;
}

div.notice {
    position: relative;
    padding: 0.25em 1em;
    margin-bottom: 1em;
    border-left: 4px solid;
}

table + div.notice {
    margin-top: 2em;
}

div.notice a {
    background: transparent !important;
    border-bottom: 1px dotted;
}

div.notice a[href^="http"]:after {
    background: transparent !important;
}

div.notice:before {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsl(220,13%,18%,100%);
    content: "💡";
}

div.notice p ,div.notice-info p, div.notice-warning p ,div.notice-example p{
    padding-left: 4em;
}

.notice-warning {
    background: hsla(35,47%,70%,28%);
    color: hsla(0,0%,87%,100%);
    position: relative;
    padding: 0.25em 1em;
    border-left: 4px solid hsla(35,47%,70%,100%);
    margin-bottom: 1em;
}

.notice-example {
    background: #def;
    color: #069;
    position: relative;
    padding: 0.25em 1em;
    border-left: 4px solid;
    margin-bottom: 1em;
}

.notice-info {
    background: hsla(85,40%,56%,30%);
    color: hsla(0,0%,87%,100%);
    position: relative;
    padding: 0.25em 1em;
    border-left: 4px solid #060;
    margin-bottom: 1em;
}

.notice-warning a {
    color: #600;
}

.notice-example a {
    color: #069;
}

.notice-info a {
    color: #060;
}

div.notice-warning:before {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsl(220,13%,18%,100%);
    content: "⚠️";
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Noto Emoji";
}

div.notice-example:before {
    position: absolute;
    font-size: 200%;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsl(220,13%,18%,100%);
    content: "🍐️";
}

div.notice-info:before {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsl(220,13%,18%,100%);
    content: "💡";
}

pre {
    font-family: Inconsolata;
    border: 0;
    box-shadow: none;
    margin: 0em;
    margin-top: 2em;
    margin-bottom: 2em;
}

pre.example:before {
    content: "Properties";
    display: block;
    border-bottom: 1px dotted;
    margin-bottom: 1em;
}

pre.example {
    background: #fec;
    color: #666;
    font-size: 0.85em;
}

pre {
    background-color: #f8f8f8;
    background-size: 8px 8px;
    background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));
}

pre.src {
	background-color: #24272E;
    padding: 0.5em;
    border-left: 4px solid hsla(222,12%,10%);
    /* box-shadow: 1px 1px 1px hsla(222,12%,9%); */
}

pre.src:before {
    display: block;
    position: absolute;
    background-color: #24272E;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    /* border-bottom-left-radius: 8px; */
    border: 0;
    color: #4eaeef;
    font-size: 80%;
}

pre.src-plantuml:before {
    content: "UML";
}

pre.src-javascript:before {
    content: "JS";
}

pre.src-clojure:before {
    content: "CLJ";
}

pre.src-c:before {
    content: "C";
}

span.org-string {
    color: #f94;
}

span.org-keyword {
    color: #c07;
}

span.org-variable-name {
    color: #f04;
}

span.org-clojure-keyword {
    color: #09f;
}

span.org-comment, span.org-comment-delimiter {
    color: #999;
}

span.org-rainbow-delimiters-depth-1, span.org-rainbow-delimiters-depth-5 {
    color: #666;
}

span.org-rainbow-delimiters-depth-2, span.org-rainbow-delimiters-depth-6 {
    color: #888;
}

span.org-rainbow-delimiters-depth-3, span.org-rainbow-delimiters-depth-7 {
    color: #aaa;
}

span.org-rainbow-delimiters-depth-4, span.org-rainbow-delimiters-depth-8 {
    color: #ccc;
}

div.figure {
    font-size: 0.85em;
    color:hsl(286,59%,66%);
}

div.figure p:nth-child(1) {
    margin-bottom: 0px;
}
div.figure p:nth-child(2) {
    margin-top: 0px;
}

.tag {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    float: right;
    margin-top: 1em;
    background: transparent;
}

.tag span {
    background: #ccc;
    padding: 0 0.5em;
    border-radius: 0.2em;
    color: white;
}

.todo, .done {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0 0.25em;
    /* border-radius: 0.2em; */
}

.todo {
    background: #1f2228;
    color: hsla(35, 74%, 70%, 100%);
}

.done {
    background: #1f2228;
    color: green;
}

#content h3 {
    color: #98d0f5;
}

@media screen {
    h1.title {
        text-align: left;
        margin: 1em 0 0 280px;
    }

    h2 {
        margin-top: 3em;
    }

    #table-of-contents {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2em 0 2em 0em;
        width: 240px;
        height: 100vh;
        font-size: 14px;
        background: hsl(217deg 12% 12%);
        overflow: auto;
    }

    #table-of-contents ul>li>ul>li>ul>li {
        display: none;
    }

    #table-of-contents h2 {
        margin-top: 0;
        margin-left: .5em;
    }

    #table-of-contents code {
        font-size: 12px;
    }

    div.outline-2, #footnotes {
        max-width: 960px;
    }
}

.title {
    font-weight: 800;
    line-height: 1;
    font-size: 2.3em;
}

.subtitle {
    color: hsla(247,51%,75%,100%);
    font-weight: 400;
}


@media screen and (max-width: 1024px) {
    html, body {
        font-size: 14px;
    }

    #table-of-contents {
        display: none;
    }


    div.outline-2, #footnotes {
        margin-left: 5%;
        max-width: 90%;
    }
}
pre.src:hover:before{
    margin-top: 0px;
}

@media print {

    body {
        color: black;
    }

    @page {
        margin: 25mm;
    }

    h2, h3,h4,h5 {
        color: hsl(286,59%,66%);
        page-break-before: always;
        margin-top: 0;
    }

    table {
        page-break-inside: avoid;
    }

    a:visited {
        color: black;
        background: #ff8;
    }

    a[href^="http"]:visited {
        background: #bff;
    }

    div.notice:before {
        display: none;
    }
}
.src-java {
	color:lightgray;
	background: #24272E;
}

.src {color: lightgray; background: #24272E;}
#postamble{
    right: 0;
    bottom: 0;
    margin-right: 100px;
    margin-bottom: 10px;
    position: fixed;
    color: hsla(204, 83%, 62%, 100%);
    line-height: .7;
    display: none;
    /* background-color: hsla(222, 12%, 11%, 100%); */
}
#preamble {
    right: 0;
    bottom: 0;
    margin-right: 100px;
    margin-bottom: 10px;
    position: fixed;
    color: hsla(204, 83%, 62%, 100%);
    line-height: .7;
    z-index: 100;
}

blockquote:before {
    content: "📌";
}
blockquote:before {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsl(220,13%,18%,100%)
}

blockquote {
    padding: 0.1em 1.8em;
    background-color: hsl(204,65%,60%,30%);
    adding: 0.4em 1.8em;
    padding-left: 5.2em;
    position: relative;
    font-size: 95%;
    line-height: 1.5;
    color: #DEDEDE;
    border: 0px solid hsl(204,65%,60%,30%);
    /* box-shadow: 2px 2px 2px hsl(204,65%,60%,28%); */
    border-left: 4px solid hsl(204,65%,60%,100%);
    margin: 0em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.section-number-2,.section-number-3,.section-number-4,.section-number-5 {
    display: inline-block;
    width: 80px;
    margin-right: 18px;
    margin-left: -104px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    color: hsla(207, 6%, 38%, 100%);
}

b {
    color: #92b4d3;
    /* background: #1f2228; */
}

i {
    color: hsl(286,59%,66%);
}

caption {
    padding-bottom: 20px;
    caption-side: bottom;
    color: hsl(286,59%,68%);;
    text-align: left;
}

.linenr {
    background: hsl(286,59%,66%);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0;
}

mjx-container {
    text-align: left !important;
}
