[submodule "neoemacs/org-modern-indent"]
	path = neoemacs/org-modern-indent
	url = git@github.com:jdtsmith/org-modern-indent.git
[submodule "neoemacs/company-english-helper"]
	path = neoemacs/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "neoemacs/ultra-scroll"]
	path = neoemacs/ultra-scroll
	url = git@github.com:jdtsmith/ultra-scroll.git
